#post *
{
    margin:0px;
    padding:0px;
    
}

#post
{
    margin: auto;
    background-color: rgba(33, 33, 33, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    height: 67px;
    width: 415px;
    padding: 6px;
}

#post textarea
{
   resize: none;
   overflow: auto;
    width:100%;
    border:none;
    height:35px;
    margin-bottom: 6px;
 
}

#post button
{
    padding:3px;
    float:right;
    width:60px;
    height:24px;
    font-size: 12px;
}

.post-list{
    color: rgba(0, 174, 255, 1);
    font-size: 13px;
    background-color: rgba(69, 69, 69, 1);
    margin: auto;
    border: 1px solid rgba(57, 56, 40, 1);
    height: 60px;
    width: 503px;
}