#post *
{
    margin:0px;
    padding:0px;
    
}

#post
{
    margin:auto;
    background-color: #E9E9E9;
    border: 1px solid #CCC;
    height:67px;
    width:415px;
    padding:6px;
}

#post textarea
{
   resize: none;
   overflow: auto;
    width:100%;
    border:none;
    height:35px;
    margin-bottom: 6px;
 
}

#post button
{
    padding:3px;
    float:right;
    width:60px;
}